.container
  margin-top: 30px

.list
  display: flex
  flex-direction: row
  padding-inline: 40px

.employeeBox
  display: flex
  flex-direction: row
  height: 40px

.lastNameBox
  margin-left: 10px

.button
  width: 100px
  height: 30px

  margin-inline: 12px
  border-radius: 10px
  background: var(--default-secondary-gray)
  color: var(--primary-text)
