.container
  display: flex
  flex: 1
  padding: 40px
  flex-direction: column

.title
  font-size: xx-large

.buttonAddEmployee
  height: 40px
  background: var(--default-secondary-gray)
  border-radius: 10px
